/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --blue: #1560bd;
    --yellow: #d4a518;
    --cream: #ffeeca;
    --brown: #867555;
    --white: white;
    --off-black: #303030;
}

body {
    padding: 1rem;
}

.header {
    background-color: var(--blue);
    color: var(--white);

    border-radius: 8px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .title {
    display: flex;
    justify-content: center;
    flex-basis: 67%;
    flex-grow: 1;
}

.search {
    padding: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    flex-shrink: 0;
    width: 305px;
}

.search .row {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.search .search-row {
    grid-column: span 2;
    margin: .75rem 15% 0 15%;
}

.search input[type="submit"] {
    padding: .5rem;
    border: none;
    border-radius: 6px;
    background-color: var(--yellow);
    font-weight: bold;
    font-size: 1rem;
}

select {
    background-color: var(--white);
    
    border: none;
    padding: .2rem;
    border-radius: 5px;
}
